<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.HotelManagement.dao.user.UserMapper">

    <select id="getUserByUserCode" resultType="com.HotelManagement.pojo.User">
        select * from HotelManagement.user
        <where>
            <if test="userCode!=null and userCode!=''">
                userCode = #{userCode}
            </if>
        </where>
    </select>

</mapper>